{% extends "base.html" %}
{% load static %}
{% block titulo %}Sami Fotografía{% endblock %}
{% block banner_cover %}
<div class="banner_cover"> 
    <div id="main_banner" class="owl-carousel owl-theme">
        <div class="banner_item item">  
            <img class="img-fluid" src="{% static 'assets/images/banner_01.jpg' %}" alt="">
            <div class="banner_content">
                <h3>TOMARSE FOTOS NUNCA FUE TAN</h3>
                <h2>FÁCIL Y DIVERTIDO</h2>
                <!--<a class="custom_btn" href="our_booth.html">Leer más</a>-->
            </div>
        </div>
        <div class="banner_item item">  
            <img class="img-fluid" src="{% static 'assets/images/banner_02.jpg' %}" alt="">
            <div class="banner_content">
                <h3>TOMARSE FOTOS NUNCA FUE TAN</h3>
                <h2>FÁCIL Y DIVERTIDO</h2>
                <!--<a class="custom_btn" href="our_booth.html">Leer más</a>-->
            </div>
        </div>
        <div class="banner_item item">  
            <img class="img-fluid" src="{% static 'assets/images/banner_03.jpg' %}" alt="">
            <div class="banner_content">
                <h3>LA MEJOR PLATAFORMA 360</h3>
                <h2>DE LA REGIÓN DE ÑUBLE</h2>
                <!--<a class="custom_btn" href="our_booth.html">Leer más</a>-->
            </div>
        </div>
    </div>  
</div>
{% endblock %}
{% block main %}
<!-- about -->
<div id="nosotros" class="about_box_cover">
    <div class="container">
        <div class="row">
            <div class="col-md-6 aos-init aos-animate" data-aos="fade-right" data-aos-duration="1000"
                data-aos-once="true">
                <div class="about_box_text">
                    <h2 class="sec_heading_box no_line_heading">NOSOTROS</h2>
                    <p>Somos un emprendimiento familiar de la región de Ñuble con 4 años de experiencia en fotografía y arriendo
                        de cabinas fotográficas, en este último año hemos incorporado nuestra plataforma 360. Brindamos
                        un espacio de diversión para que los invitados se lleven a casa recuerdos únicos de tu evento.
                        Nuestra propuesta es darle la mejor calidad de atención y de servicio para que su evento sea
                        inolvidable.
                        Los alquileres de cabinas fotográficas y plataforma 360 son excelentes para casi cualquier
                        ocasión en la que los invitados busquen pasar un buen rato...
                    </p>
                    <h4 class="sm_heading">¿Por qué elegirnos?</h4>
                    <ul class="list_box">
                        <li>Personal amigable y profesional.</li>
                        <li>Impresiones ilimitadas de alta calidad y duración.</li>
                        <li>Fotografías al instante.</li>
                        <li>Cotillón especial y super original.</li>
                        <li>Personalización del diseño de impresion de las fotos.</li>
                        <li>Videos de alta calidad Full HD.</li>
                        <li>Los invitados puedes descargar el video 360 desde su celular al instante.</li>
                        <li>Videos con diseños personalizados de acuerdo a la temática de tu evento.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 aos-init aos-animate" data-aos="fade-left" data-aos-duration="1000"
                data-aos-once="true">
                <div data-aos="fade-down" data-aos-duration="1000" data-aos-once="true"
                    class="about_carousel_box aos-init aos-animate">
                    <div id="about_owl_id" class="owl-carousel owl-theme owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(-980px, 0px, 0px); transition: all 0.25s ease 0s; width: 3430px;">
                                <div class="owl-item cloned" style="width: 480px; margin-right: 10px;">
                                    <div class="item">
                                        <img class="img-fluid" src="{% static 'assets/images/about_img_02.jpg' %}"
                                            alt="">
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 480px; margin-right: 10px;">
                                    <div class="item">
                                        <img class="img-fluid" src="{% static 'assets/images/about_img_03.jpg' %}"
                                            alt="">
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 480px; margin-right: 10px;">
                                    <div class="item">
                                        <video class="img-fluid" style="margin:0px;" width="100%" autoplay="" muted="muted" loop="">
                                            <source src="{% static 'assets/images/about_img_01.mp4' %}"
                                                type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 480px; margin-right: 10px;">
                                    <div class="item">
                                        <img class="img-fluid" src="{% static 'assets/images/about_img_02.jpg' %}"
                                            alt="">
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 480px; margin-right: 10px;">
                                    <div class="item">
                                        <img class="img-fluid" src="{% static 'assets/images/about_img_03.jpg' %}"
                                            alt="">
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 480px; margin-right: 10px;">
                                    <div class="item">
                                        <video class="img-fluid" style="margin:0px;" width="100%" autoplay="" muted="muted" loop="">
                                            <source src="{% static 'assets/images/about_img_01.mp4' %}"
                                                type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 480px; margin-right: 10px;">
                                    <div class="item">
                                        <img class="img-fluid" src="{% static 'assets/images/about_img_02.jpg' %}"
                                            alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span
                                    aria-label="Previous">‹</span></button><button type="button" role="presentation"
                                class="owl-next"><span aria-label="Next">›</span></button></div>
                        <div class="owl-dots disabled"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Gallery -->
<div id="galeria" class="gallery_box_cover">
    <div class="gallery_box_outer">
        <h2 class="sec_heading_box white_head">Galeria</h2>
    </div>
    <div class="container gallery_cont">
        <div class="gallery_box">
            <div class="item">
                <a href="{% static 'assets/images/gallery/gallery_img_01.jpg' %}" data-toggle="lightbox" data-gallery="gallery_img">
                    <img data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true" class="img-fluid" src="{% static 'assets/images/gallery/gallery_img_01.jpg' %}" alt="">
                </a>
            </div>
            <div class="item">
                <a href="{% static 'assets/images/gallery/gallery_img_02.jpg' %}" data-toggle="lightbox" data-gallery="gallery_img">
                    <img data-aos="zoom-out" data-aos-duration="1000" data-aos-once="true" class="img-fluid" src="{% static 'assets/images/gallery/gallery_img_02.jpg' %}" alt="">
                </a>
            </div>
            <div class="item">
                <a href="{% static 'assets/images/gallery/gallery_img_03.jpg' %}" data-toggle="lightbox"
                    data-gallery="gallery_img">
                    <img data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true" class="img-fluid"
                        src="{% static 'assets/images/gallery/gallery_img_03.jpg' %}" alt="">
                </a>
            </div>
            <div class="item">
                <a href="{% static 'assets/images/gallery/gallery_img_04.jpg' %}" data-toggle="lightbox"
                    data-gallery="gallery_img">
                    <img data-aos="zoom-out" data-aos-duration="1000" data-aos-once="true" class="img-fluid"
                        src="{% static 'assets/images/gallery/gallery_img_04.jpg' %}" alt="">
                </a>
            </div>
            <div class="item">
                <a href="{% static 'assets/images/gallery/gallery_img_05.jpg' %}" data-toggle="lightbox"
                    data-gallery="gallery_img">
                    <img data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true" class="img-fluid"
                        src="{% static 'assets/images/gallery/gallery_img_05.jpg' %}" alt="">
                </a>
            </div>
            <div class="item">
                <a href="{% static 'assets/images/gallery/gallery_img_06.jpg' %}" data-toggle="lightbox"
                    data-gallery="gallery_img">
                    <img data-aos="zoom-out" data-aos-duration="1000" data-aos-once="true" class="img-fluid"
                        src="{% static 'assets/images/gallery/gallery_img_06.jpg' %}" alt="">
                </a>
            </div>
            <div class="item">
                <a href="https://v16-webapp.tiktok.com/90ebb7bca2eaab30ee683cf0d2512e31/63b6598c/video/tos/useast2a/tos-useast2a-ve-0068c002/oEvIxezEDoEQQ1nQV6b8cRqARhbtjnJCBgwqBe/?a=1988&ch=0&cr=0&dr=0&lr=tiktok_m&cd=0%7C0%7C0%7C0&br=7162&bt=3581&cs=0&ds=3&ft=4b~OyMMQ8Zmo0NMAf64jV4lHZpWrKsdm&mime_type=video_mp4&qs=0&rc=OzszN2hkPDs6PDVkNTdoaEBpM3I3dTc6ZmRvaDMzNzczM0BfLmFjX2MuX14xX2EwM18uYSNrZGBgcjRncmJgLS1kMTZzcw%3D%3D&l=20230104230038E72EE93A4E78E3078BBD&btag=80000" data-toggle="lightbox"
                    data-gallery="gallery_img">
                    <video class="img-fluid" style="margin:0px;" width="100%" autoplay="autoplay" muted="muted" loop="loop">
                    <source src="https://v16-webapp.tiktok.com/90ebb7bca2eaab30ee683cf0d2512e31/63b6598c/video/tos/useast2a/tos-useast2a-ve-0068c002/oEvIxezEDoEQQ1nQV6b8cRqARhbtjnJCBgwqBe/?a=1988&ch=0&cr=0&dr=0&lr=tiktok_m&cd=0%7C0%7C0%7C0&br=7162&bt=3581&cs=0&ds=3&ft=4b~OyMMQ8Zmo0NMAf64jV4lHZpWrKsdm&mime_type=video_mp4&qs=0&rc=OzszN2hkPDs6PDVkNTdoaEBpM3I3dTc6ZmRvaDMzNzczM0BfLmFjX2MuX14xX2EwM18uYSNrZGBgcjRncmJgLS1kMTZzcw%3D%3D&l=20230104230038E72EE93A4E78E3078BBD&btag=80000"
                        type="video/mp4">
                </video>
                </a>
            </div>
            <div class="item">
                <a href="{% static 'assets/images/gallery/gallery_img_06.jpg' %}" data-toggle="lightbox"
                    data-gallery="gallery_img">
                    <img data-aos="zoom-out" data-aos-duration="1000" data-aos-once="true" class="img-fluid"
                        src="{% static 'assets/images/gallery/gallery_img_06.jpg' %}" alt="">
                </a>
            </div>
            <div class="item">
                <a href="{% static 'assets/images/gallery/gallery_img_06.jpg' %}" data-toggle="lightbox"
                    data-gallery="gallery_img">
                    <img data-aos="zoom-out" data-aos-duration="1000" data-aos-once="true" class="img-fluid"
                        src="{% static 'assets/images/gallery/gallery_img_06.jpg' %}" alt="">
                </a>
            </div>
            <span class="gallery_close_btn">x</span>
        </div>
        <h4 class="sm_heading">¡¡Cotillón incluido!!</h4>
        <!--<div class="gallery_box_btn">
            <a class="custom_btn" href="gallery.html">Ver más</a>
        </div>-->
    </div>
</div>

<!--
<div class="blog_box_cover">
    <h2 class="sec_heading_box">Blog</h2>

    <div id="blog_owl_id" class="owl-carousel owl-theme">
        <div class="item">
            <div class="blog_box_item" data-aos="fade-left" data-aos-duration="2000" data-aos-once="true">
                <a href="blog_single.html">
                    <img class="img-fluid" src="assets/images/blog_img_01.jpg" alt="">
                    <h3>Yes Mark 25th Birthday With Shows</h3>
                    <span class="blog_date">October 4, 2018</span>
                </a>
            </div>
        </div>
        <div class="item">
            <div class="blog_box_item" data-aos="zoom-in" data-aos-duration="2000" data-aos-once="true">
                <a href="blog_single.html">
                    <img class="img-fluid" src="assets/images/blog_img_02.jpg" alt="">
                    <h3>Yes Mark 25th Birthday With Shows</h3>
                    <span class="blog_date">October 4, 2018</span>
                </a>
            </div>
        </div>
        <div class="item">
            <div class="blog_box_item" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
                <a href="blog_single.html">
                    <img class="img-fluid" src="assets/images/blog_img_03.jpg" alt="">
                    <h3>Yes Mark 25th Birthday With Shows</h3>
                    <span class="blog_date">October 4, 2018</span>
                </a>
            </div>
        </div>
    </div>
</div>
-->
<div id="testimonios" class="testimonial_box_cover">
    <div class="testimonial_box_outer">
        <div class="container">
            <h2 class="sec_heading_box white_head">TESTIMONIOS</h2>
        </div>
    </div>
    <div class="testimonial_car_outer">

        <div id="testimonial_owl_id" class="owl-carousel owl-theme">

            <div class="item">
                <div class="testimonial_car_box" data-aos="flip-down" data-aos-duration="1500" data-aos-once="true">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris
                        nisi ut aliquip</p>
                    <h3>Norah Johnson</h3>
                </div>
            </div>
            <div class="item">
                <div class="testimonial_car_box" data-aos="flip-down" data-aos-duration="1500" data-aos-once="true">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris
                        nisi ut aliquip</p>
                    <h3>Norah Johnson</h3>
                </div>
            </div>
            <div class="item">
                <div class="testimonial_car_box" data-aos="flip-down" data-aos-duration="1500" data-aos-once="true">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris
                        nisi ut aliquip</p>
                    <h3>Norah Johnson</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="servicios">
    <h2 class="sec_heading_box">SERVICIOS</h2>
      <div class="container">
        
         <div id="cabina" class="our_booth_box">
            <div class="row">
              <div class="col-md-6">
                <div class="our_booth_box_text">
                  <h3>Cabina De Fotos</h3>
                  <p>Este es un servicio ideal para tus invitados, a parte de darle un toque elegante a tu fiesta con la renta de nuestra cabina fotográfica tus invitados van a poder divertirse y obtener su recuerdo en unos segundos, no te preocupes si son muchas personas en tu evento, manejamos diferentes paquetes, para que tu y tus invitados puedan tener un evento inolvidable en nuestro photo booth.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="our_booth_box_img">
                  <img class="img-fluid" src="assets/images/booth_img_01.png">
                </div>
              </div>
            </div>
         </div>

         <div  id="360" class="our_booth_box">
            <div class="row">
              <div class="col-md-6">
                <div class="our_booth_box_img">
                  <img class="img-fluid" src="assets/images/booth_img_02.jpg">
                </div>
              </div>
              <div class="col-md-6">
                <div class="our_booth_box_text">
                    <h3>Plataforma 360</h3>
                    <h5>Diversión Y Un Recuerdo Único Para Tus Invitados</h5>
                    <p>Haz que tus invitados se lleven un video único de recuerdo con nuestra plataforma 360. Los videos se graban en una plataforma giratoria, además de poder utilizar accesorios divertidos para que tengan mayor diversión.</p>
                    <p>La calidad en nuestro servicio, es lo que más nos caracteriza.
                        Nos encanta tener la mejor calidad y tecnología en nuestra plataforma 360, ya que queremos, que tus invitados tengan la mejor experiencia y videos para que puedan utilizarlo en sus redes sociales.</p>
                </div>
              </div>
            </div>
         </div>

         <div id="fotografia" class="our_booth_box">
            <div class="row">
              <div class="col-md-6">
                <div class="our_booth_box_text">
                  <h3>Fotografía</h3>
                  <p>Our Entourage Booth is great for any occasion. Keep away from those prying eyes while posing for glamorous, silly or private photos. Or grab your entourage and see how many people you can cram into your photo. Entourage photo Booth is basically our Swiss Army Knife of our photo booths</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="our_booth_box_img">
                  <img class="img-fluid" src="assets/images/booth_img_03.png" alt="">
                </div>
              </div>
            </div>
         </div>
    </div>   
</div>

<section id="paquetes" class="mt-5">
    <div>
        <div class="p-section_head">
        <h2>PAQUETES</h2>
        </div>
        <div class="container p-content_section">
        <div class="row clearfix p-packages">
            <div class="col-md-4 p-package_outer deluxe_package_outer">
            <div class="p-single_package">
                <div class="p-package_head">
                <img src="{% static 'assets/images/package_01.jpg' %}" class="img-fluid" alt="">
                <div class="p-pack_head_text">
                    <div class="p-package_title">
                    <span>Deluxe (360 + Cabina de Fotos)</span>
                    </div>
                    <div class="p-pack_head_text">
                    <img src="{% static 'assets/images/badge_03.png' %}" class="img-fluid" alt="">
                    <div class="p-title_strip">
                        <span class="p-package_time"></i> 1 Hora</span>
                        <span class="p-package_money"></i> $200.000</span>
                    </div>
                    </div>
                </div>
                </div>
                <div class="p-package_content">
                <ul class="list_box">
                    <li>Fotos y videos ilimitados</li>
                    <li>Asistencia durante todo el evento</li>
                    <li>Videos Full HD</li>
                    <li>Fotografías al instante</li>
                    <li>Cotillón especial y super original</li>
                    <li>Pantall touch para descargar el video 360 al celular</li>
                    <li>Diseños personalizados</li>
                    <li>Entrega copia de las fotografías y videos del evento</li>
                    <li>Y mucho más...</li>
                </ul> 
                <!--<a class="offer_btn" href="contact.html">For enquiry click here</a>-->
                </div>
            </div>
            </div> 
            <div class="col-md-4 p-package_outer gold_package_outer">
            <div class="p-single_package">
                <div class="p-package_head">
                <img src="{% static 'assets/images/package_02.jpg' %}" class="img-fluid" alt="">
                <div class="p-pack_head_text">
                    <div class="p-package_title">
                    <span>Gold (360 + Cabina de Fotos)</span>
                    </div>
                    <div class="p-pack_head_text"> 
                    <img src="{% static 'assets/images/badge_02.png' %}" class="img-fluid" alt="">
                    <div class="p-title_strip">
                        <span class="p-package_time"></i> 2 Horas</span>
                        <span class="p-package_money"></i> $330.000</span>
                    </div>
                    </div>
                </div>
                </div>
                <div class="p-package_content">
                <ul class="list_box">
                    <li>Fotos y videos ilimitados</li>
                    <li>Asistencia durante todo el evento</li>
                    <li>Videos Full HD</li>
                    <li>Fotografías al instante</li>
                    <li>Cotillón especial y super original</li>
                    <li>Pantall touch para descargar el video 360 al celular</li>
                    <li>Diseños personalizados</li>
                    <li>Entrega copia de las fotografías y videos del evento</li>
                    <li>Y mucho más...</li>
                </ul>  
                <!--<a class="offer_btn" href="contact.html">For enquiry click here</a>-->
                </div>
            </div>
            </div>
            <div class="col-md-4 p-package_outer signature_package_outer">
            <div class="p-single_package">
                <div class="p-package_head">
                <img src="{% static 'assets/images/package_03.jpg' %}" class="img-fluid" alt="">
                <div class="p-pack_head_text">
                    <div class="p-package_title">
                    <span>Ruby (360 + Cabina de Fotos)</span>
                    </div>
                    <div class="p-pack_head_text">
                    <img src="{% static 'assets/images/badge_01.png' %}" class="img-fluid" alt="">
                    <div class="p-title_strip">
                        <span class="p-package_time"></i> 3 Horas</span>
                        <span class="p-package_money"></i> $450.000</span>
                    </div>
                    </div>
                </div>
                </div>
                <div class="p-package_content">
                <ul class="list_box">
                    <li>Fotos y videos ilimitados</li>
                    <li>Asistencia durante todo el evento</li>
                    <li>Videos Full HD</li>
                    <li>Fotografías al instante</li>
                    <li>Cotillón especial y super original</li>
                    <li>Pantall touch para descargar el video 360 al celular</li>
                    <li>Diseños personalizados</li>
                    <li>Entrega copia de las fotografías y videos del evento</li>
                    <li>Y mucho más...</li>
                </ul> 
                <!--<a class="offer_btn" href="contact.html">For enquiry click here</a>-->
                </div>
            </div>
            </div> 


        </div>
        </div>
    </div>
</section> 

<div class="props_box_cover">
    <div id="p-booth_carousel">
        <div class="p-booth_carousel">
            <h2 class="sec_heading_box white_head">Nuestro Cotillón</h2>
        </div>
    </div>
    <div class="container">
        <div class="props_carousel">  
            <div class="row p-booth_list owl-carousel" id="p-booth_list">
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_1.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_2.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_3.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_4.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_5.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_6.jpg' %}" alt="">
                </div>
                    <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_7.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_8.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_9.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_10.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_11.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_12.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_13.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_14.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_15.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_16.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_17.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_18.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_19.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_20.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_21.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_22.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_23.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_24.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_25.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_26.jpg' %}" alt="">
                </div>
                <div class="p-single_booth">
                    <img class="img-fluid" src="{% static 'assets/images/cotillon/pro_img_27.jpg' %}" alt="">
                </div>
            </div>
        </div>   
    </div>
</div> 


<div class="ourbooth_box_cover">
    <div class="container">
        <h2 class="sec_heading_box">¿ Por Qué Tener Una Cabina De Fotos o Plataforma 360 En Tu Evento ?</h2>
        <div class="row">
            <div class="col col-md-3 col-lg-3">
                <div class="card card_red ourbooth_box_outer mb-5 text-center">
                    <div class="card-body">
                        <h3>Diversión <span>Asegurada</span></h3>
                        <img src="{% static 'assets/images/fuegos-artificiales.png' %}" alt="" width="60px">
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-lg-3">
                <div class="card ourbooth_box_outer mb-5 text-center">
                    <div class="card-body">
                        <h3>Recuerdo <span>Especial</span></h3>
                        <img src="{% static 'assets/images/recuerdos.png' %}" alt="" width="60px">
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-lg-3">
                <div class="card ourbooth_box_outer mb-5 text-center">
                    <div class="card-body">
                        <h3>Accesorios <span>Divertidos</span></h3>
                        <img src="{% static 'assets/images/corona.png' %}" alt="" width="60px">
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-lg-3">
                <div class="card ourbooth_box_outer mb-5 text-center">
                    <div class="card-body">
                        <h3>Diseños <span>Personalizado</span></h3>
                        <img src="{% static 'assets/images/diseno-web.png' %}" alt="" width="60px">
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-lg-3">
                <div class="card ourbooth_box_outer mb-5 text-center">
                    <div class="card-body">
                        <h3>Fotografías <span>Ilimitadas</span></h3>
                        <img src="{% static 'assets/images/camara.png' %}" alt="" width="60px">
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-lg-3">
                <div class="card ourbooth_box_outer mb-5 text-center">
                    <div class="card-body">
                        <h3>Videos <span>Ilimitados</span></h3>
                        <img src="{% static 'assets/images/go-pro.png' %}" alt="" width="60px">
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-lg-3">
                <div class="card ourbooth_box_outer mb-5 text-center">
                    <div class="card-body">
                        <h3>Todos <span>Participan</span></h3>
                        <img src="{% static 'assets/images/danza.png' %}" alt="" width="60px">
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-lg-3">
                <div class="card ourbooth_box_outer mb-5 text-center">
                    <div class="card-body">
                        <h3>Un Evento <span>Memorable</span></h3>
                        <img src="{% static 'assets/images/alfombra-roja.png' %}" alt="" width="60px">
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}