{% extends "base.html" %}
{% load static %}
{% block titulo %}Sami Fotografía{% endblock %}
{% block main %}
<section>
  <div class="p-inner_head p-inner_contact"> 
    <div class="p-page_title">
      <div class="container"> 
          <h1>Packages</h1>
          <ul class="p-breadcrumb">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><span>Packages</span></li>
          </ul>
      </div>
    </div>
  </div>
</section> 
<section>
  <div class="p-page_inner">
    <div class="p-section_head">
      <h2>Packages</h2>
    </div>
    <div class="container p-content_section">
      <div class="row clearfix p-packages">
        <div class="col-md-4 p-package_outer deluxe_package_outer">
          <div class="p-single_package">
            <div class="p-package_head">
              <img src="{% static 'assets/images/package_01.jpg' %}" class="img-fluid" alt="">
              <div class="p-pack_head_text">
                <div class="p-package_title">
                  <span>Deluxe (360 + Cabina de Fotos)</span>
                </div>
                <div class="p-pack_head_text">
                  <img src="{% static 'assets/images/badge_03.png' %}" class="img-fluid" alt="">
                  <div class="p-title_strip">
                    <span class="p-package_time"></i> 1 Hora</span>
                    <span class="p-package_money"></i> $200.000</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-package_content">
              <ul class="list_box">
                <li>Fotos y videos ilimitados</li>
                <li>Asistencia durante todo el evento</li>
                <li>Videos Full HD</li>
                <li>Fotografías al instante</li>
                <li>Cotillón especial y super original</li>
                <li>Pantall touch para descargar el video 360 al celular</li>
                <li>Diseños personalizados</li>
                <li>Entrega copia de las fotografías y videos del evento</li>
                <li>Y mucho más...</li>
              </ul> 
              <!--<a class="offer_btn" href="contact.html">For enquiry click here</a>-->
            </div>
          </div>
        </div> 
        <div class="col-md-4 p-package_outer gold_package_outer">
          <div class="p-single_package">
            <div class="p-package_head">
              <img src="{% static 'assets/images/package_02.jpg' %}" class="img-fluid" alt="">
              <div class="p-pack_head_text">
                <div class="p-package_title">
                  <span>Gold (360 + Cabina de Fotos)</span>
                </div>
                <div class="p-pack_head_text"> 
                  <img src="{% static 'assets/images/badge_02.png' %}" class="img-fluid" alt="">
                  <div class="p-title_strip">
                    <span class="p-package_time"></i> 2 Horas</span>
                    <span class="p-package_money"></i> $330.000</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-package_content">
              <ul class="list_box">
                <li>Fotos y videos ilimitados</li>
                <li>Asistencia durante todo el evento</li>
                <li>Videos Full HD</li>
                <li>Fotografías al instante</li>
                <li>Cotillón especial y super original</li>
                <li>Pantall touch para descargar el video 360 al celular</li>
                <li>Diseños personalizados</li>
                <li>Entrega copia de las fotografías y videos del evento</li>
                <li>Y mucho más...</li>
              </ul>  
              <!--<a class="offer_btn" href="contact.html">For enquiry click here</a>-->
            </div>
          </div>
        </div>
        <div class="col-md-4 p-package_outer signature_package_outer">
          <div class="p-single_package">
            <div class="p-package_head">
              <img src="{% static 'assets/images/package_03.jpg' %}" class="img-fluid" alt="">
              <div class="p-pack_head_text">
                <div class="p-package_title">
                  <span>Ruby (360 + Cabina de Fotos)</span>
                </div>
                <div class="p-pack_head_text">
                  <img src="{% static 'assets/images/badge_01.png' %}" class="img-fluid" alt="">
                  <div class="p-title_strip">
                    <span class="p-package_time"></i> 3 Horas</span>
                    <span class="p-package_money"></i> $450.000</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-package_content">
              <ul class="list_box">
                <li>Fotos y videos ilimitados</li>
                <li>Asistencia durante todo el evento</li>
                <li>Videos Full HD</li>
                <li>Fotografías al instante</li>
                <li>Cotillón especial y super original</li>
                <li>Pantall touch para descargar el video 360 al celular</li>
                <li>Diseños personalizados</li>
                <li>Entrega copia de las fotografías y videos del evento</li>
                <li>Y mucho más...</li>
              </ul> 
              <!--<a class="offer_btn" href="contact.html">For enquiry click here</a>-->
            </div>
          </div>
        </div> 


      </div>
    </div>
  </div>
</section> 
{% endblock %}
